<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>servlet.AppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/submitAppointment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/submitClient</url-pattern>
    </servlet-mapping>
</web-app>